<div class="py-1 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md- mx-auto">
      <h1 class="fw-light text-warning">Codechemist</h1>
      <div class="lead text-muted text-center" ngNonBindable>
        string[] teknologier = &#123;"C#", "Javascript", "HTML", "CSS", Unity, .NET&#125;;
      </div>

      <p class="lead text-muted text-center">
        En kemisk reaktion mellan dessa teknologier resulterar i skapandet av en fullständig webbsida eller ett spel.
        Testa själv för att se din egen kemiska reaktion. </p>

    </div>


  </div>
</div>


<div class="album py-3">
  <div class="container">
    <div class="row  d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      <div class="col" *ngFor="let course of courseList; index as i">
        <button *ngIf="hideButton" type="button" class="btn btn-danger  mb-2"
          (click)="deleteCourseById(course.id)">Danger</button>

        <a *ngIf="hideButton" routerLink="/course/edit/{{ course.id }}" class="btn btn-light mb-2">Edit</a>

        <div (click)="login(course.id)" routerLink="/course/detail/{{ course.id }}" role="button"
          class="card shadow-sm border border-warning">
          <img [src]="course.image" class="card-img-top" width="100%" height="225" alt="..." />
          <div class="card-body">
            <p class="card-text" style="height: 80PX;">
              {{ course.title }}
            </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>