<div class="d-flex flex-row mb-3  ">
  <div class="flex-shrink-0 p-3 " style="width: 280px">
    <a class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom border-warning">
      <img [src]="course.image" width="50" height="50" class="bi me-2" alt="..." />

      <span class="fs-4 fw-semibold text-warning">{{ course.title }} </span>
    </a>
    <ul class="list-unstyled ps-0">
      <li *ngFor="let courseSubjectLessons of course.courseSubjectLessons; index as i" class="mb-1">
        <button *ngIf="hideButton" type="button" class="btn btn-danger  mb-2"
          (click)="deleteLessonById(courseSubjectLessons.id)">Danger</button>

        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <span class="fs-5 fw-semibold text-warning" (click)="showSubItem(i)"> {{ courseSubjectLessons.title }}</span>
        </button>
        <div *ngIf="visibleIndex === i">
          <div *ngFor="let courseLesson of courseSubjectLessons.courseLessonVMs; index as b" class="collapse show"
            id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-5 small">

              <li>
                <a role="button"
                  class=" fs-6 fw-semibold link-body-emphasis d-inline-flex text-decoration-none rounded pe-auto mb-4"
                  (click)="showSubItem2(courseLesson.id)">{{ courseLesson.title }}</a>
              </li>

            </ul>
          </div>
        </div>
        <hr style=" height: 1px;
        background-color: #ffc107;
        border: none;" />
      </li>
    </ul>
  </div>

  <div class="mt-5 ms-3">
    <div *ngFor="let courseSubjectLessons of course.courseSubjectLessons;  index as i">
      <div *ngFor="let courseLesson of courseSubjectLessons.courseLessonVMs;  index as b">
        <div *ngIf="visibleIndex2 === courseLesson.id">

          <div class="container text-start  align-items-center ">
            <div class="col ">
              <button *ngIf="hideButton" type="button" class="btn btn-danger  mb-2"
                (click)="deleteSubjectById(courseLesson.id)">Danger</button>

              <h1 class="fs-1 fw-semibold text-warning">{{ courseLesson.title }}</h1>

              <app-video-player [videoLink]="courseLesson.content"></app-video-player>
            </div>
            <div class="col mt-5" *ngIf="courseLesson.subjectsExercises?.pdf && courseLesson.subjectsExercises?.title">
              <button *ngIf="hideButton" type="button" class="btn btn-danger invisible mb-2"
                      (click)="deleteExerciseById(courseLesson.subjectsExercises.id)">Danger</button>
            
              <a class="fs-3 fw-semibold text-decoration-none d-inline-block p-2 mb-2 bg-warning text-dark rounded"
                 [href]="courseLesson.subjectsExercises.pdf" target="_blank">{{ courseLesson.subjectsExercises.title }}</a>
            </div>
            

          </div>
        </div>



      </div>
    </div>
  </div>
</div>


