
  <div class="row m-5 text-center">
    <div class="col-md-4 offset-md-4 border border-warning">
      <img class="mb-4 mt-4"  src="./assets/images/codechemist.svg"  alt="" width="92" height="77">
      <h1 class="h3 mb-3 fw-normal text-warning">Please sign in</h1>
      <div class="form-floating mb-4 border border-warning-subtle">
        <input type="text" class="form-control" placeholder="mustafa" [(ngModel)]="registerDto.username">
        <label for="floatingInput">User name</label>
      </div>
      <div class="form-floating mb-4 border border-warning-subtle">
        <input type="email" class="form-control"  placeholder="name@example.com"  [(ngModel)]="registerDto.email" >
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating border border-warning-subtle">
        <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="registerDto.password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="btn btn-warning w-100 py-2 mb-5 mt-5" (click)="registerUser(registerDto)">Sign in</button>
    </div>
  </div>


