<div class="container">
  <form enctype="multipart/form-data" (ngSubmit)="submittingForm()" [formGroup]="form">
    <div class="mb-4">
      <label for="title" class="form-label">Subject name</label>
      <input type="text" id="title" class="form-control" placeholder="Name" formControlName="title" />
      <div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)"
        class="text-danger">
        Subject name is required
      </div>
    </div>

    <div class="btn-group mb-5">
      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Select Course
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let course of courseList">
          <a class="dropdown-item" (click)="getCourseId(course.id, course.title)">{{ course.title }}</a>

      </ul>
    </div>
    <p *ngIf="selectedCourseTitle !== null">Subject will be added in this course: <span class="text-info">{{ selectedCourseTitle }}</span></p>

    <div class="mb-4">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid || courseId.length === 0">
        <span *ngIf="isCreating">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Adding...
        </span>
        <span *ngIf="!isCreating">Submit</span>
      </button>
    </div>
  </form>
</div>
